.header{
    background-color: #627C33;
    max-width: 100%;
    max-height: 80px;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

.header_wblogo{
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 40px;
}

.header_naslogo{
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px;
    left: 110px;
}

.header_logo_name{
    position: absolute;
    left: 180px;
    top: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

ul{
    position: absolute;
    left: 600px;

}
