/* nav code starts */
nav{
    width: 15%;
    height: 100%;
    background-color: #627C33;
    position: absolute;
    position: fixed;
    z-index: 1;
}

nav ul li a{
    text-decoration: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(5px, 1px + 15vw,16px);

    color: #D9D9D9;

}

.grieve_open{
    cursor: pointer;
}

nav ul{
    text-decoration: none;
    list-style-type: none;
}

.ul_whole{
    position: absolute;
    top: 150px;
    line-height: 50px;
}


.ul_whole1{
    display: none;
}

.ul_whole2{
    display: grid;
}

/* .dashboard_grieve_checkbox{
    display: ;
}

.dashboard_grieve_checkbox:checked ~ ul ul{
    display: grid;
} */


.dashboard_nassp{
    width: 100%;
    height: 40px;
    /* background-color: aqua; */
    position: absolute;
    top: 30px;
}

.dashboard_nassp_icon{
    height: 100%;
    width: 40px;
    position: absolute;
    cursor: pointer;
}

.dashboard_nassp_desc{
    position: absolute;
    left: 50px;
    top: 3px;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2px, 1px + 3vw,16px);
    line-height: 19px;

    color: #FFFFFF;
}

.nav_logout{
    height: 30px;
    /* background-color: aqua; */
    width: 100%;
    position: absolute;
    bottom: 50px;
    display: grid;
    place-items: center;
    margin-left: -30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #D9D9D9;
}

.nav_item{
    cursor: pointer;
}

.dashboard_icon{
    cursor: pointer;
}

/* check code for nav */

#check_nav:checked ~ nav{
    width: 5%;
}

#check_nav:checked ~ nav .dashboard_nassp_desc{
    display: none;
}

#check_nav:checked ~ nav .dashboard_nassp_icon{
left: 15px;
}

#check_nav:checked ~ nav li .nav_item{
    display: none;
}

#check_nav:checked ~ nav li{
    margin-left: -10px;
}

#check_nav:checked ~ nav ul .ul_whole1{
    display: none;
}

#check_nav:checked ~ nav span .nav_item{
    display: none;
}

#check_nav:checked ~ nav span .dashboard_icon{
    margin-left: 55px;
}

/* endcheck code for nav */

/* start media queries for nav */

@media(max-width: 1150px){

    #check_nav:checked ~ nav .dashboard_nassp_icon{
        left: 10px;
        }

    #check_nav:checked ~ nav li{
        margin-left: 0px;
    }

    #check_nav:checked ~ nav .nav_logout{
        margin-left: -40px;
    }

    nav ul{
        margin-left: -15px;
    }

    nav .nav_logout{
        margin-left: -15px;
    }
}

@media(max-width: 1000px){
    .dashboard_nassp_desc{
        font-size: clamp(2px, 1px + 3vw,13px);
        left: 40px;
    }

    .dashboard_nassp_icon{
        height: 100%;
        width: 35px;
    }
}

@media(max-width: 950px){
    nav ul{
        margin-left: -20px;
    }

    nav .nav_logout{
        margin-left: -20px;
    }

    nav ul li a{
        font-size: clamp(9px, 1px + 15vw,12px);
    }

    nav .nav_logout .nav_logout_lab{
        font-size: clamp(9px, 1px + 15vw,12px);
    }

    .dashboard_icon{
        height: 15px;
        width: 15px;
    }
}

@media(max-width: 800px){
    .dashboard_nassp_desc{
        font-size: clamp(2px, 1px + 3vw,9px);
        left: 30px;
    }

    .dashboard_nassp_icon{
        height: 80%;
        width: 25px;
        top: 10px;
    }
}

@media(max-width: 750px){
    nav ul{
        margin-left: -25px;
    }

    nav .nav_logout{
        margin-left: -25px;
    }

    nav ul li a{
        font-size: clamp(3px, 1px + 15vw,10px);
    }

    nav .nav_logout .nav_logout_lab{
        font-size: clamp(3px, 1px + 15vw,10px);
    }

    #check_nav:checked ~ nav .dashboard_nassp_icon{
        left: 10px;
        width: 20px;
        height: 20px
    }

    #check_nav:checked ~ .dashboard_icon{
        height: 10px;
        width: 10px;
    }

    #check_nav:checked ~ nav li{
        margin-left: 3px;
    }

    #check_nav:checked ~ nav .nav_logout{
        margin-left: -45px;
    }

    .dashboard_icon{
        height: 15px;
        width: 15px;
    }
}

@media(max-width: 670px){
    nav .nav_logout{
        margin-left: -15px;
    }
}

@media(max-width: 670px){
    #check_nav:checked ~ nav{
        width: 7%;
    }

}

@media(max-width: 600px){
    nav{
        width: 20%;
    }
}

@media(max-width: 550px){
    nav{
        width: 25%;
    }
}

@media(max-width: 350px){
    nav{
        width: 30%;
    }

    nav ul li a{
        font-size: clamp(3px, 1px + 15vw,9px);
    }

    nav .nav_logout .nav_logout_lab{
        font-size: clamp(3px, 1px + 15vw,9px);
    }

    .dashboard_icon{
        height: 10px;
        width: 10px;
    }
}

@media(max-width: 550px){
    nav{
        width: 25%;
    }
}

@media(max-width: 550px){
    #check_nav:checked ~ nav{
        width: 9%;
    }
}

@media(max-width: 350px){
    #check_nav:checked ~ nav .dashboard_nassp_icon{
        left: 6px;
        width: 15px;
        height: 15px
    }

    #check_nav:checked ~ nav{
        width: 11%;
    }

    .dashboard_nassp_desc{
        font-size: clamp(2px, 1px + 3vw,7px);
        left: 25px;
    }

    .dashboard_nassp_icon{
        height: 50%;
        width: 20px;
        top: 15px;
    }
}

@media(max-width: 250px){
    #check_nav:checked ~ nav{
        width: 13%;
    }

    nav{
        width: 35%;
    }

    nav .nav_logout{
        margin-left: -15px;
    }

    nav ul li a{
        font-size: clamp(3px, 1px + 15vw,7.5px);
        font-weight: bolder;
    }

    nav .nav_logout .nav_logout_lab{
        font-size: clamp(3px, 1px + 15vw,7.5px);
        font-weight: bolder;
    }

    .dashboard_icon{
        height: 8px;
        width: 8px;
    }
}

@media(max-width: 180px){
    #check_nav:checked ~ nav{
        width: 15%;
    }

    #check_nav:checked ~ nav .dashboard_nassp_icon{
        left: 6px;
        width: 10px;
        height: 8px;
    }


    nav{
        width: 40%;
    }

    nav .nav_logout{
        margin-left: -5px;
    }

    nav ul li a{
        font-size: clamp(3px, 1px + 15vw,6px);
        font-weight: bolder;
    }

    nav .nav_logout .nav_logout_lab{
        font-size: clamp(3px, 1px + 15vw,6px);
        font-weight: bolder;
    }

    .dashboard_icon{
        height: 6px;
        width: 6px;
    }
}

/* end start media queries for nav */

/* nav code ends */


/* main code starts */

.main{
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 870px;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 2px solid black;
}

/* main_header code start */
    .main_header{
        /* background-color: rgb(172, 224, 248); */
        width: 100%;
        height: 70px;
        position: absolute;
        top: 20px;
    }

    .main_header_name{
        width: 400px;
        height: 100%;
        /* background-color: antiquewhite; */
        position: absolute;
        top: 0px;
        left: 20px;
    }

    .main_header_name_name{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #000000;
    }

    .main_header_name_desc{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #8D8D8D;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .main_header_desc{
        width: 400px;
        height: 100%;
        /* background-color: antiquewhite; */
        position: absolute;
        top: 0px;
        right: 100px;
    }

    .main_header_desc1{
        height: 100%;
        width: 110px;
        position: absolute;
        right: 0px;
        top: 0px;
        /* background-color: rgb(91, 228, 182); */
    }

    .main_header_desc1_icon{
        position: absolute;
        right: 0px;
        top: 10px;
    }

    .main_header_desc1_name{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
    }

    .main_header_desc1_desc{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
        position: absolute;
        left: 0px;

        bottom: 10px;
    }

    .main_header_desc1_desc_male_icon{
        /* height: 35px;
        width: 35px; */
        position: absolute;
        top: 20px;
        left: 230px;
    }

    .main_header_desc1_desc_not_icon{
        position: absolute;
        top: 23px;
        left: 180px;
        cursor: pointer;
    }

    .main_header_desc1_desc_search_icon{
        position: absolute;
        top: 20px;
        left: 120px;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
/* main_header code end */

/* main summary code start */
    .main_summary{
        /* background-color: rgb(111, 194, 235); */
        width: 100%;
        height: 100px;
        position: absolute;
        top: 140px;
    }

    /* main sumary recorded code */
    .main_summary_recorded{
        width: 245px;
        height: 100px;
        background-color: #EFEDED;
        position: absolute;
        top: 0px;
        left: 20px;
    }

    .main_summary_recorded_name{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #000000;
    }

    .main_summary_recorded_num{
        position: absolute;
        left: 0px;
        top: 30px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        text-align: center;
        color: #000000;
    }

    .main_summary_recorded_name1{
        position: absolute;
        left: 0px;
        bottom: 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #8D8D8D;
    }

    .main_summary_recorded_image{
        position: absolute;
        bottom: 0px;
        right: 10px;
        height: 50px;
    }
    /* end main sumary recorded code */

    .main_summary_resolved{
        width: 245px;
        height: 100px;
        background-color: #EFEDED;
        position: absolute;
        top: 0px;
        left: 285px;
    }

    .main_summary_review{
        width: 245px;
        height: 100px;
        background-color: #EFEDED;
        position: absolute;
        top: 0px;
        left: 550px;
    }

    .main_summary_new{
        width: 245px;
        height: 100px;
        background-color: #EFEDED;
        position: absolute;
        top: 0px;
        left: 815px;
    }


/* main summary code end */

/* main chart1 code */
    .main_chart1{
        /* background-color: rgb(37, 146, 197); */
        width: 100%;
        height: 280px;
        position: absolute;
        top: 290px;
    }

    /* main chart oval code */
    .main_chart1_oval{
        width: 300px;
        height: 100%;
        background-color: #EFEDED;
        position: absolute;
        top: 0px;
        left: 20px;
        border-radius: 20px;
    }

/* oval header code */
    .main_chart1_oval_header{
        width: 100%;
        height: 20px;
        /* background-color: aqua; */
        position: absolute;
        top: 20px;
    }

    .main_chart1_oval_header_drop{
        height: 20px;
        width: 100px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #000000;
        position: absolute;
        right: 10px;
        top: 0px;
    }

    .main_chart1_oval_header_desc{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 18px;
        color: #000000;
        position: absolute;
        top: 0px;
        left: 10px;
    }
    /* end of oval header code */

    /* oval chart code */
    .main_chart1_oval_chart{
        width: 250px;
        height: 160px;
        /* background-color: aqua; */
        position: absolute;
        top: 100px;
        left: 25px;
    }

    #container{
        width: 100%;
        /* height: 200px; */
        position: absolute;
        top: -20px;
        border: none;
        background-color: none;
    }


    /* chart css */

    /* end of chart css */
    /* end of oval chart code */

    /* oval desc code */
    .main_chart1_oval_desc{
        width: 100%;
        height: 30px;
        /* background-color: aqua; */
        position: absolute;
        top: 55px;
    }

    .main_chart1_oval_desc1{
        height: 100%;
        width: 80px;
        /* background-color: antiquewhite; */
        position: absolute;
        left: 10px;
        display: grid;
        place-items: center;
    }

    .main_chart1_oval_desc1_lab_color{
        width: 8px;
        height: 8px;
        background-color: rebeccapurple;
        position: absolute;
        left: 10px;
        top: 11.5px;
        border-radius: 20px;
    }

    .main_chart1_oval_desc1_lab{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #000000;
    }

    .main_chart1_oval_desc2{
        height: 100%;
        width: 80px;
        /* background-color: antiquewhite; */
        position: absolute;
        left: 110px;
    }

    .main_chart1_oval_desc3{
        height: 100%;
        width: 80px;
        /* background-color: antiquewhite; */
        position: absolute;
        left: 210px;
    }
    /* end of oval desc code */
    /* end of main chart oval code */

    /* main chart bar start */
    .main_chart1_bar{
        width: 730px;
        height: 100%;
        background-color: #8D8D8D;
        position: absolute;
        top: 0px;
        left: 330px;
        border-radius: 20px;
    }

    .main_chart1_bar_header{
        background: aqua;
        width: 100%;
        height: 40px;
        position: absolute;
        top: 20px;
    }

    .main_chart1_bar_chart{
        background: aqua;
        width: 100%;
        height: 175px;
        position: absolute;
        top: 80px;
    }

    #container1{
        width: 100%;
        position: absolute;
    }

    .main_chart1_bar_header_lab{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #1B1C1E;
        position: absolute;
        top: 3px;
        left: 10px;
    }

    .main_chart1_bar_header_lab_drop{
        border-radius: 5px;
        width: 100px;
        border: none;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 5px;
    }


     /* end main chart bar start */

/* end of main chart1 code */

    .main_chart2{
        background-color: rgb(80, 110, 124);
        width: 100%;
        height: 34%;
        position: absolute;
        top: 620px;
    }

    .main_chart2_grieve_category_header{
        width: 100%;
        height: 30px;
        /* background-color: rgb(206, 229, 255); */
        position: absolute;
        top: 20px;
    }

    .main_chart2_grieve_category_header_up_btn{
        position: absolute;
        top: 5px;
        left: 150px;
    }

    .main_chart2_grieve_category_header_down_btn{
        position: absolute;
        bottom: 11px;
        left: 150px;
    }

    .main_chart2_grieve_category_header_up_btn1{
        position: absolute;
        top: 5px;
        left: 210px;
    }

    .main_chart2_grieve_category_header_down_btn1{
        position: absolute;
        bottom: 11px;
        left: 210px;
    }

    .main_chart2_grieve_category_header_up_btn2{
        position: absolute;
        top: 5px;
        left: 200px;
    }

    .main_chart2_grieve_category_header_down_btn2{
        position: absolute;
        bottom: 11px;
        left: 200px;
    }

    .main_chart2_grieve_category_header_lab{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        color: #000000;
        position: absolute;
        left: 10px;
    }

    .main_chart2_grieve_category{
            width: 300px;
            height: 100%;
            background-color: #EFEDED;
            position: absolute;
            top: 0px;
            left: 20px;
            border-radius: 20px;
    }

    .main_chart2_grieve_category_chart{
        width: 100%;
        height: 160px;
        /* background-color: aqua; */
        position: absolute;
        top: 100px;
        left: 0px;
    }

    .main_chart2_grieve_category_chart_text{
        /* background-color:aqua; */
        width: 100px;
        height: 80px;
        position: absolute;
        top: 35px;
        left: 100px;
        /* opacity: 0.5; */
        display: grid;
        place-items: center;
        text-align: center;
        margin-top: 10px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        color: #000000;
    }

    .main_chart2_grieve_category_chart_text_span{
        height: 100%;
        width: 100px;
        background-color: aqua;
    }

    #container3{
        width: 100%;
        /* height: 200px; */
        position: absolute;
        top: -20px;
        border: none;
        background-color: none;
    }

    /* grieve state code */

    .main_chart2_grieve_state{
        width: 430px;
        height: 100%;
        background-color: #EFEDED;
        position: absolute;
        top: 0px;
        left:330px;
        border-radius: 20px;
    }

    .main_chart2_grieve_state_map{
        width: 272.2px;
        height: 220px;
        background-color: aquamarine;
        position: absolute;
        top: 60px;
        left: 70px;
        ;
    }

    /* abia state code */

    .main_chart2_grieve_state_map_abia{
        width: 15px;
        height: 26px;
        position: absolute;
        left: 103px;
        top: 175px;
    }

    .main_chart2_grieve_state_map_abia_img{
        height: 100%;
        width: 100%;
    }

    #disp1:hover .main_chart2_grieve_state_map_abia_hover{
        display: grid;
        place-items: center;
    }

    .main_chart2_grieve_state_map_abia_hover{
        display: none;
        position: absolute;
        background-color: rgb(222, 240, 234);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border: 2px solid;
        border-color: rgb(115, 204, 120);
        left: 0px;
        top: -30px;
        font-weight: bold;
        font-family: inter;
        height: 40px;
        width: 70px;
        text-align: center;
        pointer-events: none;
        font-size: 12px;
    }

    /* end of abia state code */

    .main_chart2_grieve_state_map_adamawa{
        width: 48px;
        height: 76px;
        position: absolute;
        left: 196px;
        top: 66px;
    }

    .main_chart2_grieve_state_map_akwa_ibom{
        width: 19px;
        height: 23px;
        position: absolute;
        left: 109px;
        top: 185px;
    }

    .main_chart2_grieve_state_map_bauchi{
        width: 52px;
        height: 68px;
        position: absolute;
        left: 136px;
        top: 30px;
    }

    .main_chart2_grieve_state_map_anambra{
        width: 12px;
        height: 22px;
        position: absolute;
        left: 91px;
        top: 159px;
    }

    .main_chart2_grieve_state_map_bayelsa{
        width: 28px;
        height: 24px;
        position: absolute;
        left: 63px;
        top: 189px;
    }

    .main_chart2_grieve_state_map_benue{
        width: 53px;
        height: 39px;
        position: absolute;
        left: 109px;
        top: 128px;
    }

    .main_chart2_grieve_state_map_cross_river{
        width: 35px;
        height: 48px;
        position: absolute;
        left: 118px;
        top: 156px;
    }

    .main_chart2_grieve_state_map_delta{
        width: 37px;
        height: 33px;
        position: absolute;
        left: 54px;
        top: 164px;
    }

    .main_chart2_grieve_state_map_ebonyi{
        width: 22px;
        height: 22px;
        position: absolute;
        left: 109px;
        top: 159px;
    }

    .main_chart2_grieve_state_map_edo{
        width: 37px;
        height: 39px;
        position: absolute;
        left: 54px;
        top: 142px;
    }

    .main_chart2_grieve_state_map_ekiti{
        width: 20px;
        height: 17px;
        position: absolute;
        left: 51px;
        top: 130px;
    }

    .main_chart2_grieve_state_map_enugu{
        width: 18px;
        height: 28px;
        position: absolute;
        left: 97px;
        top: 150px;
    }

    .main_chart2_grieve_state_map_fct{
        width: 21px;
        height: 20px;
        position: absolute;
        left: 91px;
        top: 102px;
    }

    .main_chart2_grieve_state_map_gombe{
        width: 32px;
        height: 38px;
        position: absolute;
        left: 175px;
        top: 57px;
    }

    .main_chart2_grieve_state_map_imo{
        width: 18px;
        height: 16px;
        position: absolute;
        left: 89px;
        top: 178px;
    }

    .main_chart2_grieve_state_map_jigawa{
        width: 55px;
        height: 45px;
        position: absolute;
        left: 123px;
        top: 21px;
    }

    .main_chart2_grieve_state_map_kaduna{
        width: 57px;
        height: 59px;
        position: absolute;
        left: 79px;
        top: 54px;
    }

    .main_chart2_grieve_state_map_kano{
        width: 38px;
        height: 44px;
        position: absolute;
        left: 112px;
        top: 30px;
    }

    .main_chart2_grieve_state_map_kastina{
        width: 47px;
        height: 48px;
        position: absolute;
        left: 94px;
        top: 12px;
    }

    .main_chart2_grieve_state_map_kebbi{
        width: 54px;
        height: 70px;
        position: absolute;
        left: 22px;
        top: 15px;
    }

    .main_chart2_grieve_state_map_kogi{
        width: 52px;
        height: 50px;
        position: absolute;
        left: 63px;
        top: 114px;
    }

    .main_chart2_grieve_state_map_kwara{
        width: 74px;
        height: 48px;
        position: absolute;
        left: 5px;
        top: 83px;
    }

    .main_chart2_grieve_state_map_ogun{
        width: 41px;
        height: 36px;
        position: absolute;
        left: 3px;
        top: 131px;
    }

    .main_chart2_grieve_state_map_nassarawa{
        width: 59px;
        height: 33px;
        position: absolute;
        left: 97px;
        top: 102px;
    }

    /* end of grieve state code */

    .main_chart2_grieve_complain{
        width: 300px;
        height: 100%;
        background-color: #EFEDED;
        position: absolute;
        top: 0px;
        left:770px;
        border-radius: 20px;
    }

    #container4{
        width: 100%;
        /* height: 200px; */
        position: absolute;
        top: -20px;
        border: none;
        background-color: none;
    }

/* main checked code file start*/

#check_nav:checked ~ .main{
    width: 95%;
}

/* main checked code file end*/

/* main code eneds */
