
/* form code */
.form{
    width: 1000px;
    height: 900px;
    background-color:#e97777;
    position: absolute;
    left: 180px;
    top: 120px;
}

@media(max-width: 1300px){
    .form{
        left: 120px;
    }
}

@media(max-width: 1200px){
    .form{
        left: 70px;
    }
}

@media(max-width: 1130px){
    .form{
        left: 70px;
        width: 900px;
    }
}

@media(max-width: 1030px){
    .form{
        left: 70px;
        width: 800px;
    }
}

@media(max-width: 930px){
    .form{
        left: 40px;
        width: 780px;
    }
}

@media(max-width: 830px){
    .form{
        left: 40px;
        width: 680px;
    }
}

@media(max-width: 730px){
    .form{
        left: 40px;
        width: 580px;
    }
}

@media(max-width: 630px){
    .form{
        left: 40px;
        width: 480px;
    }
}

@media(max-width: 530px){
    .form{
        left: 30px;
        width: 400px;
    }
}

@media(max-width: 430px){
    .form{
        left: 30px;
        width: 290px;
    }
}

@media(max-width: 330px){
    .form{
        left: 20px;
        width: 240px;
    }
}

@media(max-width: 280px){
    .form{
        left: 20px;
        width: 200px;
    }
}

@media(max-width: 230px){
    .form{
        left: 10px;
        width: 180px;
    }
}

/* end of form code */

/* header2 code */
    .header2{
        background-color: #DFDFDF;
        width: 100%;
        height: 200px;
        position: absolute;
        top: 0px;
        left: 0px;
    }

/* end of header2 code */

/* form code */
    /*form header code */
    .form_header{
        height: 50px;
        background-color: #627c33;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        display: grid;
        place-items: center;

        color: white;
        font-family: roboto;
        font-weight: 699;
        font-size: clamp(9px, 1px + 1.5vw,24px);
    }

    /* header2 code */
    .form_header2{

        background-color: #627c33;
        height: 20px;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0px;
        display: grid;
        place-items: center;
        text-align: center;

        font-family: roboto;
        font-weight: 699;
        font-size: clamp(9px, 1px + 1.3vw,20px);
    }

    /* state code */
    .form_name{
        width: 100%;
        background-color: #DFDFDF;
        height: 30px;
        position: absolute;
        top: 130px;
        left: 0px;
    }

    .form_name_desc{
        height: 100%;
        width: 250px;
        background-color: aqua;
        display:flex;
        place-items: center;
        text-align: left;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: clamp(9px, 1px + 1.3vw,24px);;
        text-align: right;
        color: #000000;

    }

    .form_name_select{
        height: 30px;
        width: 600px;
        position: absolute;
        top: 0px;
        right: 50px;
        border-radius: none;
    }

    @media(max-width: 1130px){
        .form_name_select{
            width: 500px;
        }
    }

    @media(max-width: 1130px){
        .form_name_select{
            width: 300px;
        }
    }

    @media(max-width: 630px){
        .form_name_select{
            width: 200px;
        }
    }

    @media(max-width: 530px){
        .form_name_select{
            width: 150px;
        }
    }

    @media(max-width: 430px){
        .form_name_select{
            width: 150px;
            left: 0px;
            top: 34px;
        }
    }

    @media(max-width: 330px){
        .form_name_select{
            width: 150px;
            left: 0px;
            top: 34px;
        }

        .form_name_desc{
            width: 100%;
        }
    }
    /* end of syaye code */

    /* lga code */
    .form_lga{
        width: 100%;
        background-color: #DFDFDF;
        height: 30px;
        position: absolute;
        top: 180px;
        left: 0px;
    }

    @media(max-width: 430px){
        .form_lga{
            top: 220px;
        }
    }
    /* END OF lga CODE */

    /* zone code */
    .form_zone{
        width: 100%;
        background-color: #DFDFDF;
        height: 30px;
        position: absolute;
        top: 230px;
        left: 0px;
    }

    @media(max-width: 430px){
        .form_zone{
            top: 310px;
        }
    }
    /* END OF ZONE CODE */

    /* ward code */
    .form_ward{
        width: 100%;
        background-color: #DFDFDF;
        height: 30px;
        position: absolute;
        top: 280px;
        left: 0px;
    }

    @media(max-width: 430px){
        .form_ward{
            top: 400px;
        }
    }
    /* END OF ward CODE */

    /* community code */
    .form_community{
        width: 100%;
        background-color: #DFDFDF;
        height: 30px;
        position: absolute;
        top: 330px;
        left: 0px;
    }

    @media(max-width: 430px){
        .form_community{
            top: 490px;
        }
    }
    /* END OF ward CODE */

    /* beneficiary code */
    .form_ben{
        width: 100%;
        background-color: #DFDFDF;
        height: 30px;
        position: absolute;
        top: 380px;
        left: 0px;
    }

    @media(max-width: 430px){
        .form_ben{
            top: 490px;
        }
    }
    /* END OF beneficiary CODE */

    /* complaint name code */
    .form_cname{
        width: 100%;
        background-color: #DFDFDF;
        height: 30px;
        position: absolute;
        top: 430px;
        left: 0px;
    }

    @media(max-width: 430px){
        .form_cname{
            top: 580px;
        }
    }


    /* END OF complaint name CODE */

    /* form select 1 code */

    .form_name_select1{
        height: 26px;
        width: 600px;
        position: absolute;
        top: 0px;
        right: 50px;
        border-radius: none;

        font-style: inter;
    }

    @media(max-width: 1130px){
        .form_name_select1{
            width: 500px;
        }
    }

    @media(max-width: 1130px){
        .form_name_select1{
            width: 300px;
        }
    }

    @media(max-width: 630px){
        .form_name_select1{
            width: 200px;
        }
    }

    @media(max-width: 530px){
        .form_name_select1{
            width: 150px;
        }
    }

    @media(max-width: 430px){
        .form_name_select1{
            width: 150px;
            left: 0px;
            top: 34px;
        }
    }

    @media(max-width: 330px){
        .form_name_select1{
            width: 150px;
            left: 0px;
            top: 34px;
        }

        .form_name_desc{
            width: 100%;
        }
    }

    /* end of form select 1 code */

    /* gender code */
    .form_gender{
        width: 100%;
        background-color: #DFDFDF;
        height: 30px;
        position: absolute;
        top: 480px;
        left: 0px;
    }

    @media(max-width: 430px){
        .form_gender{
            top: 670px;
        }
    }
    /* END OF gender name CODE */

    /* age code */
    .form_age{
        width: 100%;
        background-color: #DFDFDF;
        height: 30px;
        position: absolute;
        top: 530px;
        left: 0px;
    }

    @media(max-width: 430px){
        .form_age{
            top: 760px;
        }
    }
    /* END OF age CODE */

    /* cphone code */
    .form_cphone{
        width: 100%;
        background-color: #DFDFDF;
        height: 30px;
        position: absolute;
        top: 580px;
        left: 0px;
    }

    @media(max-width: 430px){
        .form_cphon{
            top: 850px;
        }
    }
/* END OF cphone CODE */

/* end of form code */
