
/* form code */
.form{
    width: 1000px;
    height: 500px;
    background-color:#DFDFDF;
    position: absolute;
    left: 180px;
    top: 0px;
}

@media(max-width: 1300px){
    .form{
        left: 0px;
    }
}

/* end of form code */
