
/* form code */
.form{
    width: 1000px;
    height: 500px;
    background-color:#DFDFDF;
    position: absolute;
    left: 180px;
    top: 0px;
}

@media(max-width: 1200px){

}

/* end of form code */
